body{
    background: #697dff;
}
.clearfix::after {
    content: ""; /* 伪元素必须有 content，空值也可 */
    display: block; /* 转为块级元素，才能触发清除浮动 */
    clear: both; /* 核心属性：清除左右两侧的浮动影响 */
    visibility: hidden; /* 隐藏伪元素（可选，仅优化视觉） */
    height: 0; /* 避免伪元素占用额外高度（可选） */
}
.container{
    margin: 150px auto;
    width: 400px;
    height: 500px;
    background: hotpink;
    border: 5px solid white;
    border-radius: 70px;
    box-sizing: border-box;
    padding: 20px;
}
.card .card-header{
    border: 4px solid #020000;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card .card-header img {
    width: 100%;
    height: 100%;
}
.card .card-footer{
    width: 300px;
    height: 100px;
    margin: 0 auto;
}
.card .card-footer .button-left{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    float: left;
}
.card .card-footer .button-left button{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 5px solid #020000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.card .card-footer .button-right{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    float: right;
}
.card .card-footer .button-right button{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 5px solid #020000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}